<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <main>
        <div class="default" :class="temperatureStatus">
            <div v-if="acquired">
                <span class="large">{{weather.now.temperature}}℃</span>
                <br>{{weather.location.name}}
                <br>{{weather.now.text}}
                <br>数据更新时间：{{weather.last_update.replace('T',' ').replace(/\+.+/,'')}}
            </div>
            <div v-if="updating">更新中……</div>
            <windmill mystyle="right:200px;bottom:0;"></windmill>
            <windmill mystyle="right:400px;bottom:0;"></windmill>
        </div>
        <div>
            <transition-group name="fadein-fadeout">
                <weather-item v-for="w,index in weathers.daily" :left="['今天','明天','后天'][index]" :right="w.low+'/'+w.high+' ℃'" v-if="acquired"
                    :key="index">
                    {{w.text_day}}
                    <img :src="'./images/3d_60/'+w.code_day+'.png'" :alt="w.text_day">
                </weather-item>
            </transition-group>
            <div class="set">
                <img src="./images/setting.png" alt="setting" @click="setting=!setting" height="70%" style="cursor: pointer;">
                <transition name="spread-pull">
                    <div v-if="setting">
                        <select name="province" id="province" v-model="selectedProvince" @change="updateShowCities">
                            <option v-for="item in cities.provinces" :value="item.name">{{item.name}}</option>
                        </select>
                        <select name="city" id="city" v-model="selectedCity.name">
                            <option v-for="item in showCities" :value="item.name">{{item.name }}</option>
                        </select>
                        <input type="button" value="查询" @click="updateWeather">
                    </div>
                </transition>
            </div>
        </div>

    </main>

    <script src="./js/vue.js"></script>
    <script src="./js/hmac-sha1.js"></script>
    <script src="./js/weather.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>